/* Общие стили */

*,
::before,
::after {
    box-sizing: border-box;
}

body{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    padding: 0;
    margin: 0;
}

.wrapper{
    /* max-width: 1920px; */
    max-width: 800px;
    margin: 0 auto;
}

.accordion__wrap{
    /* border: 1px solid #000000; */
}

.accordion{
    
}
.accordion-item{
    position: relative;
    margin-bottom: 20px;

}
.accordion-item__input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

.accordion-item__trigger{
    display: block;
    padding: 20px;
    border: 1px solid black;

}
.accordion-item__content{
    padding: 20px;
    border: 1px solid black;
    border-top: none;
    display: none;

}

.accordion-item__input:checked ~ .accordion-item__trigger{
    background-color: #eee;

}
.accordion-item__input:checked ~ .accordion-item__content{
    display: block;
    background-color:#eee;

}

